<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
          <%= pluralize(@user.favorites.count, 'favorite') %>
        </small>
      </div>
    </div>
  </div>
</div>

<% if user_has_posts_or_comments? %>
  <h2>My Posts</h2>
  <%= render @user.posts %>

  <h2>My Comments</h2>
  <%= render @user.comments %>
<% else %>
  <%= "#{@user.name} has not submitted any posts or comments yet" %>
<% end %>

<h2>Favorite Posts</h2>
<% @user.favorites.each do |favorite| %>
  <% post = Post.find(favorite.post_id) %>
  <%= image_tag post.user.avatar_url(48), class: 'media-object' %>
  <h5>
    <%= link_to post.title, topic_post_path(post.topic_id, post) %>
  </h5>
  <small>
    <%= pluralize(post.user.comments.count, 'comment') %>
    <%= pluralize(post.user.votes.count, 'vote') %>
  </small>
  <hr>
<% end %>
